<nav id="navbar">
    <button class="nav-btn" onclick="window.location.href='/'">
        Home
    </button>

    <% if (parentPath && parentPath !== '/') { %>
        <button class="nav-btn" onclick="window.location.href='<%= parentPath %>'">Up One Directory</button>
    <% } %>

    <% if (prevVideo) { %>
        <button class="nav-btn" onclick="window.location.href='/media/<%= prevVideo.name %>'">Previous</a>
    <% } %>

    <% if (nextVideo) { %>
        <button class="nav-btn" onclick="window.location.href='/media/<%= nextVideo.name %>'">Next</a>
    <% } %>
</nav>