<!DOCTYPE html>
<html>
<head>
    <title>ShuTube</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <h1>Welcome to ShuTube</h1>
    <ul>
        <li><a href="/movies">Browse Movies</a></li>
        <li><a href="/tv">Browse TV Shows</a></li>
    </ul>
</body>
</html>