<!DOCTYPE html>
<html>
<head>
    <title>ShuTube</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div id="navbar">
    <img src="/images/shuLogo-big.png" id="logo"/>
    </div>
    <a class="vid-link" href="/movies">Browse Movies</a>
    <a class="vid-link" href="/tv">Browse TV Shows</a>

</body>
</html>