<!DOCTYPE html>
<html>
<head>
    <title>Media Library</title>
</head>
<body>
    <h1>Welcome to the Media Server</h1>
    <ul>
        <li><a href="/movies">Browse Movies</a></li>
        <li><a href="/tv">Browse TV Shows</a></li>
    </ul>
</body>
</html>
